<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.ProductDao">

	<select id="get" resultType="com.bootdo.system.domain.ProductDO">
		select `productID`,`categoryID`,`productName`,`description`,`reserve`,`price`,`sort`,`hide`,`create_by`,`create_time`,`update_by`,`update_time`,`Off_price` from app_product where productID = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.ProductDO">
		select `productID`,`categoryID`,`productName`,`description`,`reserve`,`price`,`sort`,`hide`,`create_by`,`create_time`,`update_by`,`update_time`,`Off_price` from app_product
        <where>  
		  		  <if test="productid != null and productid != ''"> and productID = #{productid} </if>
		  		  <if test="categoryid != null and categoryid != ''"> and categoryID = #{categoryid} </if>
		  		  <if test="productname != null and productname != ''"> and productName = #{productname} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="reserve != null and reserve != ''"> and reserve = #{reserve} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="hide != null and hide != ''"> and hide = #{hide} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="offPrice != null and offPrice != ''"> and Off_price = #{offPrice} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by productID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from app_product
		 <where>  
		  		  <if test="productid != null and productid != ''"> and productID = #{productid} </if>
		  		  <if test="categoryid != null and categoryid != ''"> and categoryID = #{categoryid} </if>
		  		  <if test="productname != null and productname != ''"> and productName = #{productname} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="reserve != null and reserve != ''"> and reserve = #{reserve} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="hide != null and hide != ''"> and hide = #{hide} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="offPrice != null and offPrice != ''"> and Off_price = #{offPrice} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.ProductDO" useGeneratedKeys="true" keyProperty="productid">
		insert into app_product
		(
			`categoryID`, 
			`productName`, 
			`description`, 
			`reserve`, 
			`price`, 
			`sort`, 
			`hide`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`Off_price`
		)
		values
		(
			#{categoryid}, 
			#{productname}, 
			#{description}, 
			#{reserve}, 
			#{price}, 
			#{sort}, 
			#{hide}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{offPrice}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.ProductDO">
		update app_product 
		<set>
			<if test="categoryid != null">`categoryID` = #{categoryid}, </if>
			<if test="productname != null">`productName` = #{productname}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="reserve != null">`reserve` = #{reserve}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="hide != null">`hide` = #{hide}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="offPrice != null">`Off_price` = #{offPrice}</if>
		</set>
		where productID = #{productid}
	</update>
	
	<delete id="remove">
		delete from app_product where productID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from app_product where productID in 
		<foreach item="productid" collection="array" open="(" separator="," close=")">
			#{productid}
		</foreach>
	</delete>

</mapper>